Repository chipsalliance/sv-tests, pull requests merged in 2019-09, with the labels that each got.

#43 Introduce test generators
  .travis.yml
  Makefile
  README.md
  conf/generators/sv-keywords.list
  generators/keywords
  tests/.gitignore
Labels: enhancement, tests

#44 Add tests for chapter "Procedural programming statements"
  generators/uniquecase
  tests/chapter-12/12.4--if.sv
  tests/chapter-12/12.4--if_else.sv
  tests/chapter-12/12.4.1--if_else_if.sv
  tests/chapter-12/12.4.2--priority_if.sv
  tests/chapter-12/12.4.2--unique0_if.sv
  tests/chapter-12/12.4.2--unique_if.sv
  tests/chapter-12/12.5--case.sv
  tests/chapter-12/12.5.1--casex.sv
  tests/chapter-12/12.5.1--casez.sv
  tests/chapter-12/12.5.2--case_const.sv
  tests/chapter-12/12.5.4--case_set.sv
  tests/chapter-12/12.6.1--case_pattern.sv
  tests/chapter-12/12.6.1--casex_pattern.sv
  tests/chapter-12/12.6.1--casez_pattern.sv
  tests/chapter-12/12.6.2--if_pattern.sv
  tests/chapter-12/12.6.3--conditional_pattern.sv
  tests/chapter-12/12.7.1--for.sv
  tests/chapter-12/12.7.2--repeat.sv
  tests/chapter-12/12.7.3--foreach.sv
  tests/chapter-12/12.7.4--while.sv
  tests/chapter-12/12.7.5--dowhile.sv
  tests/chapter-12/12.7.6--forever.sv
  tests/chapter-12/12.8--break.sv
  tests/chapter-12/12.8--continue.sv
  tests/chapter-12/12.8--return.sv
  tests/chapter-12/12.8--return_val.sv
Labels: dependent, tests

#26 Add tests for chapter "Processes"
  tests/always.sv
  tests/chapter-9/9.2.1--initial.sv
  tests/chapter-9/9.2.2.1--always.sv
  tests/chapter-9/9.2.2.2--always_comb.sv
  tests/chapter-9/9.2.2.3--always_latch.sv
  tests/chapter-9/9.2.2.4--always_ff.sv
  tests/chapter-9/9.2.3--final.sv
  tests/chapter-9/9.3.1--sequential_block.sv
  tests/chapter-9/9.3.2--parallel_block_join.sv
  tests/chapter-9/9.3.2--parallel_block_join_any.sv
  tests/chapter-9/9.3.2--parallel_block_join_none.sv
  tests/chapter-9/9.3.3--block_start_finish.sv
  tests/chapter-9/9.3.3--event.sv
  tests/chapter-9/9.3.3--fork_return.sv
  tests/chapter-9/9.3.4--block_names_par.sv
  tests/chapter-9/9.3.4--block_names_seq.sv
  tests/chapter-9/9.3.5--statement_labels_par.sv
  tests/chapter-9/9.3.5--statement_labels_seq.sv
  tests/chapter-9/9.4.1--delay_control.sv
  tests/chapter-9/9.4.2--event_control_edge.sv
  tests/chapter-9/9.4.2--event_control_negedge.sv
  tests/chapter-9/9.4.2--event_control_posedge.sv
  tests/chapter-9/9.4.2.1--event_comma_op.sv
  tests/chapter-9/9.4.2.1--event_or_op.sv
  tests/chapter-9/9.4.2.2--event_implicit.sv
  tests/chapter-9/9.4.2.3--event_conditional.sv
  tests/chapter-9/9.4.2.4--event_sequence.sv
  tests/chapter-9/9.4.3--event_sequence_controls.sv
  tests/chapter-9/9.4.5--event_blocking_assignment_delay.sv
  tests/chapter-9/9.4.5--event_nonblocking_assignment_delay.sv
  tests/chapter-9/9.4.5--event_nonblocking_assignment_event.sv
  tests/chapter-9/9.4.5--event_nonblocking_assignment_repeat.sv
  tests/chapter-9/9.4.5--event_nonblocking_assignment_repeat_int.sv
  tests/chapter-9/9.4.5--event_nonblocking_assignment_repeat_int_neg.sv
  tests/chapter-9/9.4.5--event_nonblocking_assignment_repeat_neg.sv
  tests/chapter-9/9.6.1--wait_fork.sv
  tests/chapter-9/9.6.2--disable.sv
  tests/chapter-9/9.6.2--disable_other.sv
  tests/chapter-9/9.6.3--disable_fork.sv
  tests/chapter-9/9.7--process_cls_await.sv
  tests/chapter-9/9.7--process_cls_kill.sv
  tests/chapter-9/9.7--process_cls_self.sv
  tests/chapter-9/9.7--process_cls_suspend_resume.sv
Labels: tests

#21 Add tests for the "Lexical conventions" chapter
  tests/chapter-5/5.10-structure-arrays-illegal.sv
  tests/chapter-5/5.10-structure-arrays.sv
  tests/chapter-5/5.10-structure-replication.sv
  tests/chapter-5/5.10-structures.sv
  tests/chapter-5/5.11-arrays-key-index.sv
  tests/chapter-5/5.11-arrays-replication.sv
  tests/chapter-5/5.11-arrays.sv
  tests/chapter-5/5.12-attributes-case.sv
  tests/chapter-5/5.12-attributes-conditional.sv
  tests/chapter-5/5.12-attributes-module.sv
  tests/chapter-5/5.12-attributes-operator.sv
  tests/chapter-5/5.12-attributes-variable.sv
  tests/chapter-5/5.13-builtin-methods-arrays.sv
  tests/chapter-5/5.13-builtin-methods-strings.sv
  tests/chapter-5/5.4--coments.sv
  tests/chapter-5/5.6--identifiers.sv
  tests/chapter-5/5.6--wrong-identifiers.sv
  tests/chapter-5/5.6.1--escaped-identifiers.sv
  tests/chapter-5/5.6.3--system-functions.sv
  tests/chapter-5/5.6.4--compiler-directives-begin-keywords.sv
  tests/chapter-5/5.6.4--compiler-directives-celldefine.sv
  tests/chapter-5/5.6.4--compiler-directives-debug-line.sv
  tests/chapter-5/5.6.4--compiler-directives-debug.sv
  tests/chapter-5/5.6.4--compiler-directives-default-nettype.sv
  tests/chapter-5/5.6.4--compiler-directives-define.sv
  tests/chapter-5/5.6.4--compiler-directives-include.sv
  tests/chapter-5/5.6.4--compiler-directives-pragma.sv
  tests/chapter-5/5.6.4--compiler-directives-resetall.sv
  tests/chapter-5/5.6.4--compiler-directives-timescale.sv
  tests/chapter-5/5.6.4--compiler-directives-unconnected-drive.sv
  tests/chapter-5/5.7.1--integers-left-padding-bit.sv
  tests/chapter-5/5.7.1--integers-left-padding.sv
  tests/chapter-5/5.7.1--integers-signed-illegal.sv
  tests/chapter-5/5.7.1--integers-signed.sv
  tests/chapter-5/5.7.1--integers-sized.sv
  tests/chapter-5/5.7.1--integers-token.sv
  tests/chapter-5/5.7.1--integers-underscores.sv
  tests/chapter-5/5.7.1--integers-unsized-illegal.sv
  tests/chapter-5/5.7.1--integers-unsized.sv
  tests/chapter-5/5.7.2-real-constants-illegal.sv
  tests/chapter-5/5.7.2-real-constants.sv
  tests/chapter-5/5.7.2-real-token.sv
  tests/chapter-5/5.8-time-literals.sv
  tests/chapter-5/5.9-string-assignment.sv
  tests/chapter-5/5.9-string-basics.sv
  tests/chapter-5/5.9-string-broken-line.sv
  tests/chapter-5/5.9-string-word-assignment.sv
  tests/chapter-5/5.9.1-string-special-chars.sv
  tests/counter.sv
Labels: tests

#51 Do not rerun tests that did not change
  Makefile
Labels: enhancement

#52 Add tests for chapter "Classes"
  generators/encapsulation
  tests/chapter-8/8.10--static_methods.sv
  tests/chapter-8/8.11--this.sv
  tests/chapter-8/8.12--assignment.sv
  tests/chapter-8/8.12--shallow_copy.sv
  tests/chapter-8/8.13--inheritance.sv
  tests/chapter-8/8.14--override_member.sv
  tests/chapter-8/8.15--super.sv
  tests/chapter-8/8.16--cast_func.sv
  tests/chapter-8/8.16--cast_task.sv
  tests/chapter-8/8.17--constructor_const_arg.sv
  tests/chapter-8/8.18--var_local.sv
  tests/chapter-8/8.18--var_protected.sv
  tests/chapter-8/8.19--global_constant.sv
  tests/chapter-8/8.19--instance_constant.sv
  tests/chapter-8/8.20--virtual_method.sv
  tests/chapter-8/8.21--abstract_class.sv
  tests/chapter-8/8.21--abstract_class_inst.sv
  tests/chapter-8/8.22--dynamic_method_lookup.sv
  tests/chapter-8/8.23--scope_resolution.sv
  tests/chapter-8/8.24--out_of_block_methods.sv
  tests/chapter-8/8.25--parametrized_class_extend.sv
  tests/chapter-8/8.25.1--parametrized_class_invalid_scope_resolution.sv
  tests/chapter-8/8.25.1--parametrized_class_scope_resolution.sv
  tests/chapter-8/8.26.2--implements.sv
  tests/chapter-8/8.26.2--implements_extends.sv
  tests/chapter-8/8.26.2--implements_multiple.sv
  tests/chapter-8/8.26.3--type_access_extends.sv
  tests/chapter-8/8.26.3--type_access_implements.sv
  tests/chapter-8/8.26.3--type_access_implements_invalid.sv
  tests/chapter-8/8.26.4--illegal_forward_def_implements.sv
  tests/chapter-8/8.26.4--illegal_implements_parameter.sv
  tests/chapter-8/8.26.5--cast_between_interface_classes.sv
  tests/chapter-8/8.26.5--implemented_class_handle.sv
  tests/chapter-8/8.26.5--invalid_interface_instantiation.sv
  tests/chapter-8/8.26.6.1--name_conflict_resolved.sv
  tests/chapter-8/8.26.6.1--name_conflict_unresolved.sv
  tests/chapter-8/8.26.6.2--parameter_type_conflict.sv
  tests/chapter-8/8.26.6.2--parameter_type_conflict_unresolved.sv
  tests/chapter-8/8.26.6.3--diamond_relationship.sv
  tests/chapter-8/8.26.6.3--diamond_relationship_parametrized.sv
  tests/chapter-8/8.26.7--partial_implementation.sv
  tests/chapter-8/8.27--forward_declaration.sv
  tests/chapter-8/8.4--instantiation.sv
  tests/chapter-8/8.5--parameters.sv
  tests/chapter-8/8.5--properties.sv
  tests/chapter-8/8.5--properties_enum.sv
  tests/chapter-8/8.6--methods.sv
  tests/chapter-8/8.7--constructor.sv
  tests/chapter-8/8.7--constructor_param.sv
  tests/chapter-8/8.7--constructor_super.sv
  tests/chapter-8/8.8--typed_constructor.sv
  tests/chapter-8/8.8--typed_constructor_param.sv
  tests/chapter-8/8.9--static_properties.sv
Labels: enhancement, tests

#66 enable the fixed header extension
  conf/report-template.html
Labels: enhancement, report

#64 Differentiate between "should fail" and "tool broken"
  tools/runner
  tools/sv-report
Labels: enhancement, report

#67 runners: rewrite runners to use python
  .travis.yml
  Makefile
  conf/report-template.html
  runners/fake
  runners/icarus
  runners/odin
  runners/slang
  runners/verilator
  runners/yosys
  runners/zachjs-sv2v
  tools/BaseRunner.py
  tools/runner
  tools/runners/Fake.py
  tools/runners/Icarus.py
  tools/runners/Odin.py
  tools/runners/Slang.py
  tools/runners/Sv2v_zachjs.py
  tools/runners/Verilator.py
  tools/runners/Yosys.py
  tools/sv-report
Labels: enhancement, runners

#103 Provide output log path as parameter to tools/runner
  Makefile
  tools/runner
Labels: runners

#100 Update 5.6.4--compiler-directives-unconnected-drive.sv
  tests/chapter-5/5.6.4--compiler-directives-unconnected-drive.sv
Labels: bug, tests

#104 Reduce runner console log verbosity
  Makefile
  tools/runner
Labels: runners

#99 Merge similar generators into single script with config files
  Makefile
  conf/generators/sv-keywords.list
  conf/generators/templates/assignment.json
  conf/generators/templates/binary.json
  conf/generators/templates/encapsulation.json
  conf/generators/templates/keywords.json
  conf/generators/templates/unary.json
  conf/generators/templates/uniquecase.json
  generators/assignment_op
  generators/binary_op
  generators/encapsulation
  generators/ibex
  generators/keywords
  generators/swerv
  generators/template_generator
  generators/unary_op
  generators/uniquecase
Labels: enhancement

#106 Add tag description to report page and left align tag name
  conf/report-template.html
Labels: enhancement, report

#131 Add support for dynamic tag discovery
  tools/sv-report
Labels: report

#130 Remove fake runner
  tools/runners/Fake.py
Labels: runners

#105 Check if tool is installed before using it
  .travis.yml
  Makefile
  tools/BaseRunner.py
  tools/check-runners
  tools/runners/Icarus.py
  tools/runners/Odin.py
  tools/runners/Slang.py
  tools/runners/Sv2v_zachjs.py
  tools/runners/Verilator.py
  tools/runners/Yosys.py
  tools/runners/tree_sitter_verilog.py
Labels: enhancement, runners

#146 Import tests from Yosys
  conf/generators/meta-path/yosys-asicworld.json
  conf/generators/meta-path/yosys-errors.json
  conf/generators/meta-path/yosys-memories.json
  conf/generators/meta-path/yosys-simple.json
  conf/generators/meta-path/yosys-sva.json
  conf/generators/meta-path/yosys-svinterfaces.json
  conf/lrm.conf
  generators/path_generator
  generators/yosys_hana
Labels: tests

#117 Dynamic log loading
  .travis.yml
  Makefile
  conf/report-template.html
  conf/report/report-template.html
  conf/report/report.css
  conf/report/report.js
  tools/runner
  tools/sv-report
Labels: report

#152 tests: place signing specifier after type in integer tests
  conf/generators/templates/integers.json
Labels: bug, tests

#159 ci: copy logs and test files to deploy directory
  .travis.yml
Labels: bug, report

#161 ci: remove gitignore for tests to deploy generated tests
  .gitignore
  tests/.gitignore
Labels: bug, report

#166 report: add syntax highlighting
  Makefile
  conf/requirements.txt
  tools/formatter
  tools/sv-report
Labels: bug, enhancement, report

#173 Add report summary
  conf/report/report-template.html
  conf/report/report.css
  tools/sv-report
Labels: enhancement, report

#158 tests: fix string function calls in chapter 6
  tests/chapter-6/6.16.11--string_itoa.sv
  tests/chapter-6/6.16.12--string_hextoa.sv
  tests/chapter-6/6.16.13--string_octtoa.sv
  tests/chapter-6/6.16.14--string_bintoa.sv
  tests/chapter-6/6.16.15--string_realtoa.sv
  tests/chapter-6/6.16.2--string_putc.sv
Labels: bug, tests

#182 report: automatically open the first tab after clicking cell
  conf/report/report-template.html
  conf/report/report.js
Labels: report

#174 report: restore current cell highlighting
  conf/report/report.css
  conf/report/report.js
Labels: bug, report

#186 report: fix close button
  conf/report/report.js
Labels: bug, report

#196 runners: add the -i switch to icarus invocation
  tools/runners/Icarus.py
Labels: dependent, runners

#185 Automatically open the first file from the log
  conf/report/report-template.html
  conf/report/report.js
  tools/sv-report
Labels: enhancement, report

#160 Generate csv output
  .travis.yml
  conf/generators/templates/binary.json
  conf/generators/templates/keywords.json
  conf/report/report-template.html
  tests/chapter-11/11.5.1--idx_select.sv
  tests/chapter-11/11.5.2--multi_dim_array_addressing.sv
  tests/chapter-12/12.4--if_else.sv
  tests/chapter-12/12.4.2--priority_if.sv
  tests/chapter-12/12.4.2--unique0_if.sv
  tests/chapter-6/6.16.6--string_compare.sv
  tests/chapter-6/6.24.2--cast_task.sv
  tests/chapter-7/arrays/dynamic/basic.sv
  tests/chapter-7/arrays/multidimensional/basic.sv
  tests/chapter-7/arrays/packed/equality.sv
  tests/chapter-7/arrays/packed/onebit.sv
  tests/chapter-7/arrays/packed/operations.sv
  tests/chapter-7/arrays/packed/slice-equality.sv
  tests/chapter-7/arrays/packed/slice.sv
  tests/chapter-7/arrays/packed/variable-slice.sv
  tests/chapter-7/arrays/unpacked/equality.sv
  tests/chapter-7/arrays/unpacked/onebit.sv
  tests/chapter-7/arrays/unpacked/operations.sv
  tests/chapter-7/arrays/unpacked/slice-equality.sv
  tests/chapter-7/arrays/unpacked/slice.sv
  tests/chapter-7/arrays/unpacked/variable-slice.sv
  tests/chapter-7/memories/basic.sv
  tests/chapter-7/queues/basic.sv
  tests/chapter-7/queues/delete_assign.sv
  tests/chapter-7/queues/insert_assign.sv
  tests/chapter-7/queues/pop_back_assing.sv
  tests/chapter-7/queues/pop_front_assign.sv
  tests/chapter-8/8.16--cast_task.sv
  tests/chapter-9/9.2.2.3--always_latch.sv
  tests/chapter-9/9.4.3--event_sequence_controls.sv
  tests/chapter-9/9.4.5--event_nonblocking_assignment_repeat_int.sv
  tests/chapter-9/9.4.5--event_nonblocking_assignment_repeat_int_neg.sv
  tests/chapter-9/9.4.5--event_nonblocking_assignment_repeat_neg.sv
  tools/sv-report
Labels: enhancement, report, tests

#197 Report source browser enhancements
  .travis.yml
  Makefile
  tools/formatter
  tools/sv-report
Labels: dependent, enhancement, report
