Repository chipsalliance/sv-tests, pull requests merged in 2019-10, with the labels that each got.

#200 runners: better tree-sitter-verilog error messages
  tools/runners/tree_sitter_verilog.py
Labels: enhancement, runners

#199 tests: remove invalid generic tests
  tests/generic/class/class_test_10.sv
  tests/generic/class/class_test_15.sv
  tests/generic/class/class_test_38.sv
  tests/generic/class/class_test_39.sv
  tests/generic/class/class_test_50.sv
  tests/generic/iface/iface_class_test_6.sv
  tests/generic/member/class_member_test_22.sv
  tests/generic/member/class_member_test_33.sv
  tests/generic/number/number_test_17.sv
  tests/generic/number/number_test_18.sv
  tests/generic/number/number_test_19.sv
  tests/generic/number/number_test_20.sv
  tests/generic/number/number_test_21.sv
  tests/generic/number/number_test_22.sv
  tests/generic/number/number_test_23.sv
  tests/generic/number/number_test_37.sv
  tests/generic/number/number_test_38.sv
  tests/generic/number/number_test_39.sv
  tests/generic/number/number_test_40.sv
  tests/generic/number/number_test_41.sv
  tests/generic/number/number_test_54.sv
  tests/generic/number/number_test_55.sv
  tests/generic/number/number_test_56.sv
  tests/generic/number/number_test_57.sv
  tests/generic/number/number_test_58.sv
  tests/generic/number/number_test_73.sv
  tests/generic/number/number_test_74.sv
  tests/generic/number/number_test_75.sv
  tests/generic/number/number_test_76.sv
  tests/generic/number/number_test_77.sv
  tests/generic/preproc/preproc_test_3.sv
  tests/generic/typedef/typedef_test_15.sv
  tests/generic/typedef/typedef_test_17.sv
Labels: bug, tests

#208 Custom pygments styles
  Makefile
  conf/report/code-template.html
  conf/report/code.css
  tools/sv-report
Labels: enhancement, report

#219 travis: deploy all css and js files
  .travis.yml
Labels: bug

#221 Create the report in deploy dir
  .travis.yml
  Makefile
  tools/sv-report
Labels: enhancement, report

#231 report: add a footer with git rev
  Makefile
  conf/report/report-template.html
  conf/report/report.css
  tools/sv-report
Labels: enhancement, report

#232 Add a html template for the log files
  conf/report/log-template.html
  tools/BaseRunner.py
  tools/runner
  tools/runners/Icarus.py
  tools/runners/Odin.py
  tools/runners/Slang.py
  tools/runners/Sv2v_zachjs.py
  tools/runners/Verilator.py
  tools/runners/Yosys.py
  tools/runners/tree_sitter_verilog.py
  tools/sv-report
Labels: enhancement, report

#248 makefile: add back checks for missing runners
  Makefile
Labels: bug, enhancement, runners

#255 tests: fix issues with newline escaping in macro definitions
  tests/generic/preproc/preproc_test_10.sv
  tests/generic/preproc/preproc_test_11.sv
  tests/generic/preproc/preproc_test_12.sv
  tests/generic/preproc/preproc_test_13.sv
  tests/generic/preproc/preproc_test_9.sv
Labels: bug, tests

#263 makefile: ci: use make format for pep8 checks
  .travis.yml
  Makefile
Labels: enhancement

#270 Escape html in the log template
  conf/report/log-template.html
  tools/sv-report
Labels: bug, report

#276 Sort test-case names within one tag
  conf/report/report-template.html
  tools/sv-report
Labels: enhancement, report

#277 Modify python format checks to use yapf
  .style.yapf
  .travis.yml
  Makefile
  conf/requirements.txt
  generators/ibex
  generators/path_generator
  generators/swerv
  generators/template_generator
  tools/BaseRunner.py
  tools/check-runners
  tools/runner
  tools/runners/tree_sitter_verilog.py
  tools/sv-report
Labels: enhancement

#279 report: add support for linking to testcases and chapters inside report
  conf/report/report-template.html
  conf/report/report.js
Labels: enhancement, report

#288 ci: fix python code formatting
  generators/ariane
  tools/sv-report
Labels: bug

#293 Sort columns with the tools
  conf/report/report-template.html
Labels: enhancement, report

#298 report: fix minor issues in test url handling code
  conf/report/report.js
Labels: bug, report

#234 report: fix issue with not linking to some source files
  tools/sv-report
Labels: bug, dependent, report

#321 tools: sv2v: fix include directories flag
  tools/runners/Sv2v_zachjs.py
Labels: runners

#320 Fix generic class test 13
  tests/generic/member/class_member_test_13.sv
Labels: bug, tests

#301 tests: support incdirs in non-generated tests
  tools/runner
Labels: enhancement, runners, tests

#289 Parallelize parsing log files
  tools/sv-report
Labels: dependent

#254 tests: fix issue with $assert() in empty_string test
  tests/chapter-11/11.10.3--empty_string.sv
Labels: bug, tests

#256 Measure time needed to complete all the tests
  conf/report/log-template.html
  conf/report/report-template.html
  tools/runner
  tools/sv-report
Labels: enhancement

#183 Use anaconda packages
  .travis.yml
  conf/environment.yml
  conf/requirements.txt
  tools/runners.mk
  tools/runners/Slang.py
  tools/runners/tree_sitter_verilog.py
Labels: enhancement

#322 generators: add support for blacklisting
  conf/generators/meta-path/utd-systemverilog.json
  generators/path_generator
Labels: enhancement, tests

#331 report: don't omit tags missing from lrm.conf
  tools/sv-report
Labels: bug

#63 Add information about the versions of the tools
  Makefile
  conf/report/report-template.html
  conf/report/report.css
  tools/BaseRunner.py
  tools/runner
  tools/runners/Icarus.py
  tools/runners/Odin.py
  tools/runners/Slang.py
  tools/runners/Sv2v_zachjs.py
  tools/runners/Yosys.py
  tools/sv-report
Labels: enhancement, report

#359 generators: path_generator: fix incdirs generation
  generators/path_generator
Labels: bug, tests

#265 Add more tests from hdlConvertor
  conf/generators/meta-path/hdlconvertor.json
Labels: tests

#356 doc: add short guide on adding a new tool to the test suite
  README.md
Labels: documentation

#357 doc: add a short guide on importing existing tests
  README.md
Labels: dependencies

#358 doc: add a short guide on adding new test cases
  README.md
Labels: documentation

#363 doc: reorder how-to sections
  README.md
Labels: documentation

#364 Make sure the whole report table is always visible
  conf/report/report-template.html
  conf/report/report.js
Labels: enhancement, report

#379 Build slang in release mode
  tools/runners.mk
Labels: enhancement, runners

#386 Add simulator type to testcases for semantic error
  conf/generators/templates/encapsulation.json
  tests/chapter-11/11.4.14.3--unpack_stream_inv.sv
  tests/chapter-11/11.9--tagged_union_member_access_inv.sv
  tests/chapter-5/5.10-structure-arrays-illegal.sv
  tests/chapter-6/6.12--real_bit_select.sv
  tests/chapter-6/6.12--real_bit_select_idx.sv
  tests/chapter-6/6.12--real_edge.sv
  tests/chapter-6/6.19--enum_xx_inv.sv
  tests/chapter-6/6.19--enum_xx_inv_order.sv
  tests/chapter-6/6.19.3--enum_type_checking_inv.sv
  tests/chapter-6/6.19.4--enum_numerical_expr_no_cast.sv
  tests/chapter-6/6.20.5--specparam_inv.sv
  tests/chapter-6/6.5--variable_mixed_assignments.sv
  tests/chapter-6/6.5--variable_multiple_assignments.sv
  tests/chapter-6/6.5--variable_redeclare.sv
  tests/chapter-7/arrays/packed/variable-slice-zero.sv
  tests/chapter-7/structures/packed/default-value.sv
  tests/chapter-8/8.21--abstract_class_inst.sv
  tests/chapter-8/8.25.1--parametrized_class_invalid_scope_resolution.sv
  tests/chapter-8/8.26.3--type_access_implements_invalid.sv
  tests/chapter-8/8.26.4--illegal_forward_def_implements.sv
  tests/chapter-8/8.26.4--illegal_implements_parameter.sv
  tests/chapter-8/8.26.5--invalid_interface_instantiation.sv
  tests/chapter-8/8.26.6.1--name_conflict_unresolved.sv
  tests/chapter-8/8.26.6.2--parameter_type_conflict_unresolved.sv
  tests/chapter-8/8.26.6.3--diamond_relationship_parametrized.sv
  tests/chapter-9/9.3.3--fork_return.sv
Labels: tests

#382 tests: add tests for parsing clocking block declarations
  conf/lrm.conf
  tests/chapter-14/14.3--clocking-block-signals.sv
  tests/chapter-14/14.3--clocking-block.sv
  tests/chapter-14/14.3--default-clocking-block.sv
  tests/chapter-14/14.3--global-clocking-block.sv
Labels: tests

#384 tests: add tests for various assignment types
  conf/generators/templates/force-assignments.json
  conf/lrm.conf
  tests/chapter-10/10.3.1--net-decl-assignment.sv
  tests/chapter-10/10.3.2--cont-assignment.sv
  tests/chapter-10/10.3.3--cont-assignment-delay.sv
  tests/chapter-10/10.3.3--cont-assignment-net-delay.sv
  tests/chapter-10/10.4.1--blocking-assignment.sv
  tests/chapter-10/10.4.2--non-blocking-assignment.sv
  tests/chapter-10/10.6.1--assign-deassign.sv
  tests/chapter-10/10.6.2--force-release.sv
Labels: tests

#340 Add moore compiler
  README.md
  conf/environment.yml
  tools/BaseRunner.py
  tools/runners.mk
  tools/runners/moore.py
Labels: runners

#383 tests: add tests for tasks and functions
  conf/lrm.conf
  tests/chapter-13/13.3--task.sv
  tests/chapter-13/13.3.1--task-automatic.sv
  tests/chapter-13/13.3.1--task-static.sv
  tests/chapter-13/13.4--function.sv
  tests/chapter-13/13.4.1--function-return-assignment.sv
  tests/chapter-13/13.4.1--function-return.sv
  tests/chapter-13/13.4.1--function-void-return.sv
  tests/chapter-13/13.4.2--function-automatic.sv
  tests/chapter-13/13.4.2--function-static.sv
  tests/chapter-13/13.4.3--const-function.sv
  tests/chapter-13/13.4.4--fork-invalid.sv
  tests/chapter-13/13.4.4--fork-valid.sv
Labels: tests

#385 tests: add tests for system utility functions/tasks
  conf/generators/templates/sampled-functions.json
  conf/generators/templates/trig-functions.json
  conf/lrm.conf
  tests/chapter-20/20.10--error.sv
  tests/chapter-20/20.10--fatal.sv
  tests/chapter-20/20.10--info.sv
  tests/chapter-20/20.10--warning.sv
  tests/chapter-20/20.15--dist_chi_square.sv
  tests/chapter-20/20.15--dist_erlang.sv
  tests/chapter-20/20.15--dist_exponential.sv
  tests/chapter-20/20.15--dist_normal.sv
  tests/chapter-20/20.15--dist_poisson.sv
  tests/chapter-20/20.15--dist_t.sv
  tests/chapter-20/20.15--dist_uniform.sv
  tests/chapter-20/20.15--random.sv
  tests/chapter-20/20.2--exit.sv
  tests/chapter-20/20.2--finish.sv
  tests/chapter-20/20.2--stop.sv
  tests/chapter-20/20.3--realtime.sv
  tests/chapter-20/20.3--stime.sv
  tests/chapter-20/20.3--time.sv
  tests/chapter-20/20.4--printtimescale-hier.sv
  tests/chapter-20/20.4--printtimescale.sv
  tests/chapter-20/20.4--timeformat.sv
  tests/chapter-20/20.5--itor.sv
  tests/chapter-20/20.5--real-bits-conv.sv
  tests/chapter-20/20.5--rtoi.sv
  tests/chapter-20/20.5--shortreal-bits-conv.sv
  tests/chapter-20/20.6--bits.sv
  tests/chapter-20/20.6--bits_type.sv
  tests/chapter-20/20.6--isunbounded.sv
  tests/chapter-20/20.6--typename.sv
  tests/chapter-20/20.6--typename_type.sv
  tests/chapter-20/20.7--array-queries-multi-dim.sv
  tests/chapter-20/20.7--array-queries.sv
  tests/chapter-20/20.8--atan2.sv
  tests/chapter-20/20.8--ceil.sv
  tests/chapter-20/20.8--clog2.sv
  tests/chapter-20/20.8--exp.sv
  tests/chapter-20/20.8--floor.sv
  tests/chapter-20/20.8--hypot.sv
  tests/chapter-20/20.8--ln.sv
  tests/chapter-20/20.8--log10.sv
  tests/chapter-20/20.8--pow.sv
  tests/chapter-20/20.8--sqrt.sv
  tests/chapter-20/20.9--countbits.sv
  tests/chapter-20/20.9--isunknown.sv
  tests/chapter-20/20.9--onehot.sv
  tests/chapter-20/20.9--onehot0.sv
Labels: tests

#390 tests: add tests for package declarations and referencing
  conf/lrm.conf
  tests/chapter-26/26.2--package-decl.sv
  tests/chapter-26/26.3--package-ref.sv
Labels: tests

#389 tests: add tests for mailbox operations
  conf/lrm.conf
  tests/chapter-15/15.4--mailbox-blocking.sv
  tests/chapter-15/15.4--mailbox-non-blocking.sv
Labels: tests

#388 tests: add tests for IO tasks/functions
  conf/lrm.conf
  tests/chapter-21/21.2--display.sv
  tests/chapter-21/21.2--monitor.sv
  tests/chapter-21/21.2--strobe.sv
  tests/chapter-21/21.2--write.sv
  tests/chapter-21/21.3--fdisplay.sv
  tests/chapter-21/21.3--feof.sv
  tests/chapter-21/21.3--ferror.sv
  tests/chapter-21/21.3--fflush.sv
  tests/chapter-21/21.3--fgetc.sv
  tests/chapter-21/21.3--fgets.sv
  tests/chapter-21/21.3--file.sv
  tests/chapter-21/21.3--fmonitor.sv
  tests/chapter-21/21.3--fpos.sv
  tests/chapter-21/21.3--fread.sv
  tests/chapter-21/21.3--fscanf.sv
  tests/chapter-21/21.3--fstrobe.sv
  tests/chapter-21/21.3--fwrite.sv
  tests/chapter-21/21.3--sscanf.sv
  tests/chapter-21/21.3--ungetc.sv
  tests/chapter-21/21.4--readmemb.sv
  tests/chapter-21/21.4--readmemh.sv
  tests/chapter-21/21.6--test.sv
  tests/chapter-21/21.6--value.sv
  tests/chapter-21/21.7--dumpfile.sv
  tests/chapter-21/21.7--dumpports.sv
Labels: tests
