Repository chipsalliance/sv-tests, pull requests merged in 2020-02, with the labels that each got.

#595 tools/runner: add option to keep runner work directory
  Makefile
  tools/runner
Labels: enhancement

#614 Add equality check for escaped identifiers
  tests/chapter-5/5.6.1--nonescaped-access.sv
Labels: enhancement, tests

#409 Add "Average throughput passed" column
  conf/report/report-template.html
  tools/sv-report
Labels: enhancement, report

#620 Only calculate throughput for larger tests.
  conf/report/report-template.html
  tools/sv-report
Labels: enhancement, report

#622 tests: fix always block to use sensitivity lists
  tests/chapter-12/12.4--if.sv
  tests/chapter-12/12.4--if_else.sv
  tests/chapter-12/12.4.1--if_else_if.sv
  tests/chapter-12/12.4.2--priority_if.sv
  tests/chapter-12/12.4.2--unique0_if.sv
  tests/chapter-12/12.4.2--unique_if.sv
  tests/chapter-12/12.5--case.sv
  tests/chapter-12/12.5.1--casex.sv
  tests/chapter-12/12.5.1--casez.sv
  tests/chapter-12/12.5.2--case_const.sv
  tests/chapter-12/12.5.4--case_set.sv
Labels: bug
