Repository chipsalliance/sv-tests, pull requests merged in 2020-06, with the labels that each got.

#837 tools/runner: add support for use of predefined libraries
  conf/runners/libs.json
  generators/uvm
  tests/uvm/uvm_files.sv
  tools/runner
Labels: enhancement

#821 Add basic simulation tests for chapter 16 (Assertions)
  conf/lrm.conf
  tests/chapter-16/16.12--property-interface-prec-uvm.sv
  tests/chapter-16/16.12--property-interface-uvm-fail.sv
  tests/chapter-16/16.12--property-interface-uvm.sv
  tests/chapter-16/16.12--property-prec-uvm-fail.sv
  tests/chapter-16/16.12--property-prec-uvm.sv
  tests/chapter-16/16.12--property-uvm-fail.sv
  tests/chapter-16/16.12--property-uvm.sv
  tests/chapter-16/16.17--expect-uvm.sv
  tests/chapter-16/16.17--expect.sv
  tests/chapter-16/16.2--assert-final-uvm.sv
  tests/chapter-16/16.2--assert-uvm.sv
  tests/chapter-16/16.2--assert0-uvm.sv
  tests/chapter-16/16.2--assume-uvm-fail.sv
  tests/chapter-16/16.2--assume-uvm.sv
  tests/chapter-16/16.7--sequence-uvm-fail.sv
  tests/chapter-16/16.7--sequence-uvm.sv
  tests/chapter-16/16.7--sequence.sv
Labels: dependent, enhancement, tests

#850 Allow overriding test timeouts in bulk
  Makefile
  tools/BaseRunner.py
Labels: kokoro:force-run, merge-if-green

#849 Allow out of tree runners
  Makefile
  tools/check-runners
  tools/runner
Labels: runners

#838 Add advanced tests for chapter 16 (Assertions)
  conf/lrm.conf
  tests/chapter-16/16.10--property-local-var-fail.sv
  tests/chapter-16/16.10--property-local-var-uvm-fail.sv
  tests/chapter-16/16.10--property-local-var-uvm.sv
  tests/chapter-16/16.10--property-local-var.sv
  tests/chapter-16/16.10--sequence-local-var-fail.sv
  tests/chapter-16/16.10--sequence-local-var-uvm.sv
  tests/chapter-16/16.10--sequence-local-var.sv
  tests/chapter-16/16.11--sequence-subroutine-uvm.sv
  tests/chapter-16/16.12--property-disable-iff.sv
  tests/chapter-16/16.13--sequence-multiclock-uvm.sv
  tests/chapter-16/16.14--assume-property-uvm-fail.sv
  tests/chapter-16/16.14--assume-property-uvm.sv
  tests/chapter-16/16.14--assume-property.sv
  tests/chapter-16/16.15--property-disable-iff-fail.sv
  tests/chapter-16/16.15--property-disable-iff.sv
  tests/chapter-16/16.15--property-iff-uvm-fail.sv
  tests/chapter-16/16.15--property-iff-uvm.sv
  tests/chapter-16/16.17--expect-uvm-fail.sv
  tests/chapter-16/16.7--sequence-and-range-uvm.sv
  tests/chapter-16/16.7--sequence-and-uvm.sv
  tests/chapter-16/16.7--sequence-intersect-uvm-fail.sv
  tests/chapter-16/16.7--sequence-intersect-uvm.sv
  tests/chapter-16/16.7--sequence-or-uvm.sv
  tests/chapter-16/16.7--sequence-throughout-uvm-fail.sv
  tests/chapter-16/16.7--sequence-throughout-uvm.sv
  tests/chapter-16/16.9--sequence-changed-uvm.sv
  tests/chapter-16/16.9--sequence-cons-repetition.sv
  tests/chapter-16/16.9--sequence-fell-uvm.sv
  tests/chapter-16/16.9--sequence-goto-repetition.sv
  tests/chapter-16/16.9--sequence-noncons-repetition.sv
  tests/chapter-16/16.9--sequence-past-uvm.sv
  tests/chapter-16/16.9--sequence-rose-uvm.sv
  tests/chapter-16/16.9--sequence-stable-uvm.sv
Labels: dependent, tests

#864 tools/runner: add library files before test files
  tools/runner
Labels: bug, kokoro:force-run, merge-if-green

#866 Fix runners logs decoding
  tools/BaseRunner.py
Labels: bug, kokoro:force-run, merge-if-green, runners

#876 Add a simple event driven simulation test
  tests/chapter-9/9.4.2--event_control_sim.sv
  tests/chapter-9/9.4.2--event_control_sim_minimal.sv
Labels: merge-if-green, tests

#880 Add simulation tests for delay statements
  tests/chapter-9/9.4.1--delay_control-sim.sv
  tests/chapter-9/9.4.1--delay_control-two-blocks-sim.sv
Labels: tests

#877 tests: add minimal operator tests
  conf/generators/templates/simple-logical.json
  conf/generators/templates/simple-operators-sim.json
  conf/generators/templates/simple-unary.json
  tests/chapter-11/simple/11.4.11--simple_cond_op-sim.sv
  tests/chapter-11/simple/11.4.12--simple_concat_op-sim.sv
  tests/chapter-11/simple/11.4.12.1--simple_repl_op-sim.sv
  tests/chapter-11/simple/11.4.13--simple_set_member-sim.sv
  tests/chapter-11/simple/11.4.14.3--simple_unpack_stream-sim.sv
  tests/chapter-11/simple/11.5.1--simple_idx_neg_part_select-sim.sv
  tests/chapter-11/simple/11.5.1--simple_idx_pos_part_select-sim.sv
  tests/chapter-11/simple/11.5.1--simple_idx_select-sim.sv
  tests/chapter-11/simple/11.5.1--simple_non_idx_part_select-sim.sv
  tests/chapter-11/simple/11.5.2--simple_array_addressing-sim.sv
Labels: kokoro:force-run, merge-if-green

#875 earlgrey: dynamically scan for source files
  README.md
  conf/generators/earlgrey/earlgrey.src
  conf/lrm.conf
  conf/report/log-template.html
  conf/requirements.txt
  generators/earlgrey
  tests/chapter-5/5.6.4--compiler-directives-preprocessor-macro_0.sv
  tests/chapter-5/5.6.4--compiler-directives-preprocessor-macro_1.sv
  tools/runner
  tools/runners/Verilator.py
  tools/sv-report
Labels: enhancement, merge-if-green, tests

#890 uhdm-verilator: remove -Wpedantic flag
  tools/runners/UhdmVerilator.py
Labels: bug, merge-if-green, runners

#901 tests: operators: use simplified simulation tests
  conf/generators/templates/assignment-sim.json
  conf/generators/templates/equality.json
  conf/generators/templates/logical-equiv.json
  conf/generators/templates/logical-impl.json
  conf/generators/templates/logical.json
  conf/generators/templates/operators-sim.json
  tests/chapter-11/11.4.1--assignment-sim.sv
  tests/chapter-11/11.4.5--equality-op.sv
Labels: merge-if-green, tests
