Repository chipsalliance/sv-tests, pull requests merged in 2020-08, with the labels that each got.

#983 Ibex scan for source files dynamically
  generators/earlgrey
  generators/ibex
Labels: merge-if-green

#984 Add fusesoc generator for generating test files
  conf/fusesoc-configs/earlgrey.yml
  conf/fusesoc-configs/ibex.yml
  generators/earlgrey
  generators/fusesoc
  generators/ibex
Labels: merge-if-green

#986 Improve test results sorting
  conf/report/report.js
Labels: enhancement, report

#996 Fix sorting for cells without any tests
  conf/report/report.js
Labels: bug, merge-if-green, report

#997 Clickable test suites
  conf/lrm.conf
  conf/report/report-template.html
  conf/report/report.css
  tools/sv-report
Labels: enhancement, merge-if-green, report

#999 Make tool names in the headers clickable
  Makefile
  conf/report/report-template.html
  conf/report/report.css
  tools/BaseRunner.py
  tools/runner
  tools/sv-report
Labels: enhancement, report
